<div class='row text-center'>
  <h1>Check a new site</h1>
</div>
<div class='row text-center'>

  <%= form_for @site do |f| %>
    <div class="form-group">
      <label for="url">Website URL:</label>
        <%= f.text_field :url %></br>
    </div>
    <%= f.submit%>
  <% end %>
</div>  