<%= @site.url %></br>

<% @links.each do |link| %>
  <a href=<%= link.link_url%>> <%= link.link_url%> </a>
  <p> Response: <%=link.http_response %> </p>
  <p>Status: <% if link.http_response.to_i < 400 %>
    Good
    <% else %>
    Gad
<% end %>
</br></br></br>
<% end %>
